div {
    width: 500px;
    background-color: aquamarine;
    height: 500px;
    overflow: auto;
    border-radius: 50%;
}

/* h1 {
    border: 5px solid red;
    background-color: blue;
    color: white;
    padding: 10px;
    margin: 50px;
    border-radius: 10%;
    display: inline;
} */
/* 
button {
    border: none;
    outline: none;
    background-color: aqua;
    color: brown;
    padding: 10px 20px;
    border-radius: 5px;

}

li {
    display: none;
    visibility: visible;
    background-color: blueviolet;

    border-radius: 10px;
}

a {
    text-decoration: none;
    color: brown;
    padding: 10px;
    margin: 10px;
}


h1{
    background-color: rgb(224, 229, 229);

    width: 200px;
    box-shadow: 5px 5px 2px rebeccapurple;
    border-radius: 45% 55% 57% 43% / 50% 45% 55% 50% ;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
} */


ul{
    list-style-type: lower-greek;
    list-style: none;
}
ul:hover{
    cursor: pointer;
}

ol{
    /* list-style-type: circle; */
    list-style: none;
}