.box {
    width: 100px;
    height: 100px;
    margin-top: 10px;
    position: absolute;
    left: 50px;

}

#box1 {
    background-color: rgb(99, 224, 10);
    z-index: -1;

}

#box2 {
    background-color: red;
    z-index: 200;
    margin-left: 100px;

}

#box3 {
    background-color: rgb(187, 6, 154);

}

/* header{
    background-color: black;
    width: 100%;
    position: sticky;
    top: 0;
}
.logo {

    display: inline;
}

.logo img {
    width: 100px;
    height: 100px;
}

.menus {
    display: inline;
}

.menus li {
    display: inline;
}
.menus li a{
    text-decoration: none;
    color: white;
}

.chatbot{
    position: fixed;
    bottom: 0;
    right: 0;
} */
/* 
body{
    background-color: aquamarine;
    width: 100%;
    height: 100vh;
    background-image: url("./images/burger\ logo.png");
    background-position: center;
    background-size: cover;
} */
 .content{
    text-align: center;
 }

 .box button{
    display: block;
    width: 100px;
 }