*{
    margin: 0;
    padding: 0;
}


.container{
    width: 100%;
    height: 100vh;
    background-color: beige;
    display: flex;
    flex-direction: row; 

    flex-wrap: wrap;

    /* justify-content: space-around; */

    /* y-axis  */
     /* align-items: center; */
     /* align-content: flex-end; */

     gap: 20px;
    
}


.box{
    width: 100px;
    height: 100px;
    color: white;
    text-align: center;
}

#box1{
    background-color: brown;
    order: 1;
}
#box2{
    background-color: rgb(17, 15, 175);
    /* flex-grow: 2; */
    /* flex-shrink: 5; */
    align-self: flex-end;
}
#box3{
    background-color: rgb(89, 8, 87);
    /* order: -1; */
    order: -1;
}