/* external */

#heading{
    color: aqua;
    background-color: darkslategray;

}

.para{
    color: blueviolet;
    background-color: chocolate;
}

#second{
    color: rgb(216, 10, 188);
}

