@import url('https://fonts.googleapis.com/css2?family=Bitcount+Grid+Single:wght@100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Bitcount+Grid+Single:wght@100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

#container #head {
    /* background-color: rgba(189, 189, 33, 0.5); */
    color: rgb(#ff0000, green, blue);
    color: rgba(19, 153, 153, 0.601);
    opacity: 0.7;

    /* fallback */
    font-family: "Open Sans", sans-serif;

    /* rgb */
    /* red green blue */
    /* three way to color elements */
    /* by name */
    /* rgb a for opacity */
    /* hexacode  */

}

body {
    font-family: "Bitcount Grid Single", system-ui;
}

h1,
p {
    background-color: aquamarine;
    color: brown;
    font-family: "Bitcount Grid Single", system-ui;
    /*147*/
}


