/* a {
    text-decoration: none;
    color: brown;
    display: block;
    width: 100px;
    height: 400px;
    background-color: cadetblue;
}

a:visited {
    color: aquamarine;
}

a:hover {
    color: blueviolet;
}

h1 {
    display: inline;
    width: 100px;
    height: 400px;
    background-color: brown;

}

h1:hover {
    background-color: brown;
    color: white;
    font-size: 30px;
    font-style: italic;
}

button:active {
    background-color: rgb(189, 5, 115);
    color: white;
    font-size: 30px;
    font-style: italic;
}

input:focus {
    outline: none;
    border: none;
    background-color: brown;
    color: white;
    border: 10px solid rgb(157, 17, 124);
} */

* {
    margin: 0;
    padding: 0;
}

h1 {
    background-color: blueviolet;
    padding: 30px 20px;
    margin: 30px 0px 30px 0px;
    margin: 20px 0px;
    /* border  */
    /* border width */
    /* border style */
    /* border color */

    /* border-width: 10px;
    border-style: solid ;
    border-color: black;
 */

    border: 2px solid red;


    /* padding-top: 30px */
}